<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Family App</title>
</head>
<body style="background-color: rgba(0, 0, 95, 0.829)">
    <div style="background-color: rgba(123, 123, 207, 0.938);">
        {% for p in parientes %}
            {% if p.nombre == 'Ernesto' %}
                <p style="font-size:large;font-style: normal;">

                    <b>Nombre:</b> {{p.nombre}}.<br>
                    <b>Apellido:</b> {{p.apellido}}.<br>
                    <b>Fecha de nacimiento:</b> {{p.birth_date}}.<br>
                    <b>Edad:</b> {{p.edad}}.<br>
                    <b>Ocupacion:</b> {{p.ocupacion}}.
        
                </p>
                <h4><strong style='font-style: normal; font-family:Arial, Helvetica, sans-serif'>{{p.nombre}} es {{p.p}} de Tadeo.</strong></h4>
            {% endif %}
        {%endfor%}
    </div>
    
</body>
</html>
